<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Dịch vụ</h3>
                    <ul>
                        <li><a href="#">Tư vấn</a></li>
                        <li><a href="#">Lắp đặt laptop</a></li>
                        <li><a href="#">Thu cũ đổi mới</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Thông tin chi tiết</h3>
                    <ul>
                        <li><a href="#">Cửa hàng</a></li>
                        <li><a href="#">Sản phẩm mới </a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Liên hệ</h3>
                    <ul>
                        <li><a href="#">PTITHCM-97</a></li>
                        <li><a href="#">+84120910012</a></li>
                        <li><a href="#">Group25@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><ion-icon
                            name="logo-facebook"
                            class="icon"
                        ></ion-icon></a><a href="#"><ion-icon
                            name="logo-twitter"
                            class="icon"
                        ></ion-icon></a><a href="#"><ion-icon
                            name="logo-snapchat"
                            class="icon"
                        ></ion-icon></a><a href="#"><ion-icon
                            name="logo-instagram"
                            class="icon"
                        ></ion-icon></a>
                    <p class="copyright">Group 25 © 2023</p>
                </div>
            </div>
        </div>
    </footer>
</div>