
<h1 class="title-get-password"><strong>Phục hồi mật khẩu</strong></h1>
<div class="form-wrapper">
        <form action="/reset-success" method="POST">
            <div class="form-forgot-password">
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Mật khẩu mới"
                    />
                </div>
            
             <div class="form-forgot-password">
                    <input
                        type="password"
                        class="form-control password_confirmation"
                        id="password_confirmation"
                        name="password_confirmation"
                        placeholder="Nhập lại mật khẩu"
                    />
                </div>
                <input type="hidden" name="email" value="{{email}}">
            <button type="submit" class="button btn-primary">Gửi</button>
        </form>
</div>
